/* Trigger non-standard IE hasLayout for certain objects.
 * Sometimes makes IE behave better
 *
 * NOTE: when changing this bit, look at ie6_fixes.css too */
#extracol,
#navwrap,
#news li,
#contentwrapper,
#fauxcolbgR,
.containfloats {
    zoom: 1;
}

/* For whatever reason, the flyout only works correctly in IE7
 * if .mainnav is absolutely positioned.  Stupid IE.
 */
#navcol.ie7fix {
    position: relative;
    padding-top: 30em; /* move content of navcol down to make room for
                           absolutely positioned .mainnav */
}

.flyout.ie7fix {
    position: absolute !imporant;
    left: 0;
    top: 10px;
}

